        .delta-heading {
            font-weight: lighter;
            color: #0c2e66;
            font-weight: 200;
            border-bottom-style: solid;
            border-bottom-width: thick;
            padding-bottom: 10px;
            border-bottom-color: #db1818;
        }

        .login-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }

        .login-delta {
            text-align: center;
        }

        #login-form {
            background-color: #0c0c2b;
            padding: 30px;
            color: white;
            margin: 15%;
            align-items: center;
            border-radius: 10px;
        }

        .sub-heading {
            color: #0c2e66;
            font-weight: lighter;
        }